@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans text-gray-800;
  font-size: 14px;
  line-height: 1.15;
}

b,
strong {
  @apply font-medium;
}

@font-face {
  font-family: "Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Neue Montreal"), local("Neue-Montreal-Regular"),
    url("https://d33wubrfki0l68.cloudfront.net/974ee8871b2b677d55294349ce8c7a1f5e3d7ee8/a6a02/static/neuemontreal-regular-51a78a868ff3f125baaa46b126049e0a.woff")
      format("woff");
}

@font-face {
  font-family: "Neue Montreal";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Neue Montreal Medium"), local("Neue-Montreal-Medium"),
    url("https://d33wubrfki0l68.cloudfront.net/de8292026d1cec02b4340a95b655bb91e8d9e993/be50a/static/neuemontreal-medium-ba5216b284d34936c69eca76b3629d37.woff")
      format("woff");
}

body {
  color: tomato;
}
