@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  a {
    @apply text-indigo;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus, a:active {
    @apply text-indigo-600;
  }
}

html, body, #app {
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.tooltip-inner {
  display: none;
  transform: translate(0%, -110%);
  width: max-content;
}

.tooltip:hover .tooltip-inner {
  display: inline;
}
