body [data-reach-menu-item] {
  @apply py-2 px-4 text-sm text-gray-700;
}

body [data-reach-menu-item][data-selected] {
  @apply bg-gray-100 text-gray-800;
}

body [data-reach-menu-list],
body [data-reach-menu-items] {

  @apply p-0 overflow-hidden w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none
  /* @apply p-0 border-0 rounded-md shadow-lg overflow-hidden mt-1 bg-white; */
}

body .dark [data-reach-menu-list],
body .dark [data-reach-menu-items] {
  @apply bg-gray-800;
}



:root {
  --reach-listbox: 1;
}


body.dark [data-reach-listbox-popover] {
  @apply bg-gray-900 text-white border-gray-600 border;
  z-index: 99;
}

[data-reach-listbox-popover] {
  @apply shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
  min-width: -moz-fit-content;
  min-width: -webkit-min-content;
  min-width: min-content;
  z-index: 99;
  overflow: auto;

}

[data-reach-listbox-popover]:focus-within {

}

[data-reach-listbox-popover][hidden] {
  display: none;
}

[data-reach-listbox-list] {
  @apply m-0 p-0 list-none divide-y divide-gray-100;
  max-height: 480px;
}

[data-reach-listbox-list]:focus {
  @apply shadow-none outline-none;
}

[data-reach-listbox-option] {
  @apply py-2 px-4 text-sm text-gray-700;
  user-select: none;
}

[data-reach-listbox-option][data-current-nav] {
  @apply bg-gray-100 text-gray-800;
}

[data-reach-listbox-option][data-current-selected] {
  font-weight: bolder;
}

[data-reach-listbox-option][data-current-selected][data-confirming] {
  animation: flash 100ms;
  animation-iteration-count: 1;
}

[data-reach-listbox-option][aria-disabled="true"] {
  opacity: 0.5;
}

[data-reach-listbox-button][aria-disabled="true"] {
  opacity: 0.5;
}

[data-reach-listbox-arrow] {
  margin-left: 0.5rem;
  display: block;
  font-size: 0.5em;
}

[data-reach-listbox-group-label] {
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  user-select: none;
  font-weight: bolder;
}

@keyframes flash {
  0% {
    background: hsla(211, 81%, 36%, 1);
    color: hsl(0, 0%, 100%);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    background: inherit;
    color: inherit;
  }
  100% {
    background: hsla(211, 81%, 36%, 1);
    color: hsl(0, 0%, 100%);
    opacity: 1;
  }
}


/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  position: relative;
}

[data-reach-menu-popover] {
  display: block;
  position: absolute;
}

[data-reach-menu-popover][hidden] {
  display: none;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  display: block;
  white-space: nowrap;

  background: hsla(0, 100%, 100%, 0.99);
  outline: none;
  padding: 1rem 0;
  font-size: 85%;
}

[data-reach-menu-item] {
  display: block;
  user-select: none;
}

/*
 The dom structure of a MenuLink is reach-menu-item > a,
 so to target all items we can use `data-reach-menu-item`
*/
[data-reach-menu-item] {
  /*
    These are styled in one rule instead of something like a[data-reach-menu-item]
    and li[data-reach-menu-item] so that apps don't have to fight specificity and
    can style both li and a menu items with one rule,
    ie: `[data-selected] { background: red; }`.
    Otherwise they'd have to define two styles, one for a and one for li.
  */

  /* reach-menu-item */
  cursor: pointer;

  /* a */
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;

  /* both */
  padding: 5px 20px;
}

/* pseudo pseudo selector */
[data-reach-menu-item][data-selected] {
  background: hsl(211, 81%, 36%);
  color: white;
  outline: none;
}

[data-reach-menu-item][aria-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
