.login-box {
  max-width: 560px;
}

.login-box-wide {
  max-width: 1120px;
}

.login-box__header {
  height: 180px;
}

.body-container {
  background-image: url(https://d33wubrfki0l68.cloudfront.net/4bfbe41df8ec226ff4101c8c9f0ab05188aac0ba/c8bb1/static/comply-0cd2aca7c2ddf6b6e8dc0c9a1bcfc975.png);
  background-position: 80% -80px;
  background-repeat: no-repeat;
  background-size: 800px 512px;
}

.brand-dark {
  background: linear-gradient(168.64deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
}

.brand-dark-panel {
  background: linear-gradient(168.64deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
  padding: 70px 80px;
  width: 100%;
}

.brand-semi-dark-panel {
  background: linear-gradient(168.64deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #122332;
  padding: 70px 80px;
  width: 100%;
}

.brand-dark-form__header {
  text-align: center;
  padding-bottom: 45px;
}

h3.brand-dark-form__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 10px;
}

h3.brand-dark-form__title.brand-dark-form__title--small {
  font-size: 18px;
}

.brand-dark-form__progress {
  padding-top: 12px;
}

.brand-dark-form__help-links {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.brand-dark-form__link {
  color: #33c69f;
  text-decoration: none;
}

.brand-dark-form__link:hover,
.brand-dark-form__link:active,
.brand-dark-form__link:focus {
  color: #33c69f;
  text-decoration: underline;
}

.brand-update-banner__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand-update-banner__link:hover:not(:disabled) {
  text-decoration: none;
}

.brand-update-banner__badge {
  color: #33c69f;
  text-transform: uppercase;
  background: #0e2c37;
  font-size: 11px;
  line-height: 1.42857;
  padding: 8px 16px;
  border-radius: 50px;
  margin-right: 8px;
}

.brand-update-banner__label {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-right: 8px;
}

.brand-update-banner__arrow {
  color: rgba(255,255,255,0.25);
  transition: color 300ms ease;
}

.brand-update-banner__link:hover .brand-update-banner__arrow {
  color: #33c69f;
}

.brand-dark-form__description {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  margin-bottom: 16px;
}

.brand-dark-form__label {
  margin-bottom: 10px;
  font-size: 15px;
  text-rendering: geometricprecision;
}

/* Progress */

.progress {
  align-items: center;
  justify-content: center;
}

.progress-dot {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  height: 6px;
  width: 6px;
}

.progress-dot.isActive {
  background-color: #33c69f;
}

.progress-dot + .progress-dot {
  margin-left: 8px;
}

